---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="A propos de nous"
    image={{
      src: '~/assets/images/sisteron.jpg',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Une équipe de passionnés de sport et de montagne <br />
      <span class="text-accent dark:text-white highlight"> Nous travaillons à Sisteron</span>
    </Fragment>

    <Fragment slot="subtitle">
      Nous défendons fièrement notre idée de créer une entreprise de haute technologie dans une ville à taille humaine (malgré tout très accessible en train ou par l'autoroute). Nos bureaux et notre atelier
      sont au centre ville (on n'est pas très fan des grandes zones à l'extérieur des villes) et le plus éloigné d'entre nous (un dingue de vélo qui vit il paraît dans la plus belle
      vallée du monde) met 20 minutes pour venir (en voiture, en vélo la légende dit qu'il met 10 minutes)
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Nos statistiques parlent pour nous"
    stats={[
      { title: 'Bureau', amount: '1' },
      { title: 'Employés', amount: '3' },
      { title: 'Nombre de vélos', amount: '15' },
      { title: 'Récompenses', amount: 'O' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Nos bureaux et notre atelier"
    subtitle="Quand on aura un peu de temps on mettra une photo de nos bureaux, qui ne ressemblent absolument pas à celle ci-dessous"
    columns={3}
    isBeforeContent={true}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->


  <Steps2
    title="Nos valeurs"
    subtitle="Ah la fameuse rubrique des valeurs de l'entreprise. Allez un petit extrait de livre pour paraître intelligent (Jack London : l'auteur préféré du boss) : J’aimerais mieux être un superbe météore, chacun de mes atomes irradiant d’un magnifique éclat, plutôt qu'une planète endormie. La fonction propre de l’homme est de vivre, non d’exister."
    items={[
      {
        title: 'Travailler dans la bonne humeur',
        description:
          'Les projets que l\'on traitent sont suffisamment compliqués techniquement',
      },
      {
        title: 'La transparence',
        description:
          'Premiere obligation d\'un ingénieur : être transparent sur les erreurs ou difficultés rencontrés',
      },
      {
        title: 'Travailler dans la bonne humeur',
        description:
          'On le remet parce qu\'il y avait 3 parties à remplir et c\'est important',
      },
    ]}
  />


  <!-- Features2 Widget ************** -->

  <Features2
    title="Nos bureaux en Europe"
    tagline="Nous trouver"
    columns={4}
    items={[
      {
        title: 'France',
        description: '1 rue des cordeliers, 04200 Sisteron',
      },
      {
        title: 'Angleterre',
        description: 'Londres pour aller voir jouer Arsenal, ou Liverpool aussi',
      },
      {
        title: 'Danemark',
        description: 'Copenhague pour voir comment ils se débrouillent avec autant de vélos',
      },
      {
        title: 'Italie',
        description: 'Trop de jolies coins en Italie difficile de choisir',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Plusieurs solutions"
    tagline="Nous contacter"
    columns={2}
    items={[
      {
        title: 'Méthode traditionnelle',
        description:
          'Vous êtes nostalgiques et vous avez le temps, envoyez nous vos projets par courrier manuscrit et vos schémas réalisés avec vos plus beaux beaux dessins',
        icon: 'tabler:mailbox',
      },
      {
        title: 'Méthode classique',
        description:
          'Vous êtes dans un contexte plus classique, donc un peu pressé par le temps, contactez nous en utilisant la rubrique contact',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
