---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Laissez nous un message !" />

<!-- CallToAction Widget *********** -->

<CallToAction
actions={[
  {
    variant: 'primary',
    text: 'Accédez au formulaire',
    href: 'https://docs.google.com/forms/d/e/1FAIpQLSeMa6s3siWycdZ1jJkDTKTnlVYzqsMcDOKUXNrXZ90r6dRpTQ/formResponse',
    target: '_blank',
    icon: 'tabler:download',
  },
]}
>
<Fragment slot="title">
  <span class="sm:whitespace-nowrap">Vous souhaitez nous soumettre un projet ?</span>
</Fragment>

<Fragment slot="subtitle">
  Remplissez ce formulaire
</Fragment>
</CallToAction>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Besoin d'un contact direct ?"
    items={[
      {
        title: 'Direction / R&D',
        description: `Gestion globale, projets R&D, simulation avancée, modélisation de la connaissance et IA`,
      },
      {
        title: 'Ingénierie',
        description:
          'Conception produits, simulation numérique, fabrication additive',
      },
      {
        title: 'Atelier de fabrication',
        description:
          'En cas de questions sur une fabrication en cours',
      },
      {
        title: 'LinkedIn',
        description: '<a href="https://www.linkedin.com/in/nicolas-gardan-19ba526/">Accédez au contact</a>',
        icon: 'tabler:brand-linkedin',
      },
      {
        title: 'LinkedIn',
        description: '<a href="https://www.linkedin.com/in/noe-perrotin/">Accédez au contact</a>',
        icon: 'tabler:brand-linkedin',
      },
      {
        title: 'Location',
        description: 'Sisteron',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
