---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="L'ingénierie agile"
    subtitle="Nous vous accompagnons dans vos projets de conception et de validation de produits"
    image={{
      src: '~/assets/images/tract.gif',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- Features Widget ************** -->

  <Features
    id="features"
    tagline="Compétences"
    title="Nos 4 piliers" 
    subtitle="Basés sur une expertise de plus de 20 ans dans l'accompagnement de PME"
    items={[
      {
        title: 'Conception',
        description:
          'Conception de projets techniques, de la mise en oeuvre du cahier des charges à la fabrication des pièces',
        icon: 'tabler:hexagonal-prism-plus',
      },
      {
        title: 'Simulation',
        description:
          'Réalisation de calculs analytiques et numériques : élements et volumes finis, fluide, optimisation topologique, ...',
        icon: 'tabler:variable',
      },
      {
        title: 'Atelier de prototypage',
        description:
          'Passage du modèle virtuel à un prototype fabriqué par impression 3D et/ou commande numérique dans notre atelier',
        icon: 'tabler:message-cog',
      },
      {
        title: 'Modélisation de la connaissance et Intelligence Artificielle',
        description:
          'Modélisation de la connaissance et création de modèles d\'IA pour les ingénieurs métiers, matériaux architecturés',
        icon: 'tabler:binary-tree',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Conception de produits',
        description:
          'Modélisation 3D et simulation numérique de votre produit, mise en plan, prototypage et industrialisation',
        icon: 'tabler:wand',
      },
      {
        title: 'Simulation numérique avancée',
        description:
          'Mise en place de modèles avancées (CFD), développements d\'outils métiers en Python',
        icon: 'tabler:settings',
      },
      {
        title: 'Analyse données et maintenance prédictive',
        description:
          'Modélisation de la connaissance et des données, utilisation de l\'IA parcimonieuse pour analyses prédictives',
        icon: 'tabler:presentation',
      },
      {
        title: 'Du virtuel au réel',
        description:
          'Atelier de fabrication avec des scanners 3D, des machines d\'impression 3D (SLS, SLA, FDM) et CN',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: '~/assets/images/rail.png',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Activités principales</h3>
    </Fragment>
  </Content>

  
</Layout>
