---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Simerics',
};
---

<Layout metadata={metadata}>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Simerics-MP et Simerics-MP+"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Plaquette', icon: 'tabler:download', href: 'https://www.canva.com/design/DAGkWLh486E/oQsN_61q0dMFBtfVU95unA/view?utm_content=DAGkWLh486E&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h5eaa450e13' },
      { text: 'Plaquette Simerics MP', href: 'https://drive.google.com/file/d/1LVQNYVoYC5XLR7ux_vPdXjUkP-sKeiUC/view?usp=sharing' },
    ]}
    image={{
      src: '~/assets/images/eol-simerics.gif',
      alt: 'Store with a Coming Soon sign. Pre-launch Landing Page'
    }}
  >
    <Fragment slot="title">
      Catalyseur d’une ingénierie agile et prédictive par la CFD
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Simerics-MP/Simerics-MP+ est un logiciel de simulation numérique de nouvelle génération, conçu pour les applications multiphysiques impliquant l’écoulement des fluides, les transferts thermiques, les interactions fluide-structure et les écoulements multiphasiques. Simerics-MP+ se distingue par sa facilité de prise en main, ses modèles physiques avancés, son maillage automatique et ses templates personnalisés pour de nombreux secteurs : automobile, turbomachines, marine, etc. Il permet ainsi de simuler des systèmes complets (refroidissement, lubrification, cavitation…) dès les premières étapes de conception. Intégrable dans les environnements CAO courants, il constitue un véritable banc d’essai virtuel pour explorer, tester et optimiser les performances des systèmes avant leur fabrication.

      </span>
     
    </Fragment>
  </Hero2>

   <!-- Content Widget **************** -->

   <Content
   isReversed
   items={[
     {
       title: 'Rapidité de calcul',
       description:
         'Solveur explicite très performant, simulations stables même avec des conditions difficiles',
       icon: 'tabler:wand',
     },
     {
       title: 'Maillage automatique robuste',
       description:
         'Génération rapide et fiable de maillages, même pour des géométries complexes. Contrôle fin du maillage dans les zones critiques.',
       icon: 'tabler:settings',
     },
     {
       title: 'Modèles physiques avancés',
       description:
         'Cavitation, multiphasique, écoulements compressibles, thermique couplée, etc. Gestion par template dédié',
       icon: 'tabler:presentation',
     },
     {
       title: 'Interface orientée vers l\'ingénierie',
       description:
         'Une forte productivité dans la modélisation et l’analyse de systèmes fluides complexes',
       icon: 'tabler:carousel-horizontal',
     },
   ]}
   image={{
     src: '~/assets/images/Mixtank1.gif',
     alt: 'Features Image',
   }}
 >
   <Fragment slot="content">
     <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Principaux avantages</h3>
   </Fragment>
 </Content>

 
 


  <!-- Content Widget **************** 

  <Content
    title="Exemples de cas traités"
    subtitle="Au fur et à mesure vous trouverez le détail des cas traités par notre équipe dans notre blog"
    isReversed
    items={[
      {
        title: 'Description :',
        description:
          'Objectif : Anticiper le comportement de la nouvelle direction l\'enjambeur avant fabrication / Modélisation 3D et Simulation cinématique et mécanique et simulation statique non linéaire',
      },
      {
        title: 'Résultats :',
        description: `Corrélation des problèmes rencontrés avec la 1ère version de la direction / 
Validation du dimensionnement des vérins /
Localisation des zones à risques (information utile pour la fabrication lors de la réalisation des soudures notamment) /
Conseil de modification à apporter sur le design et sur le choix des matériaux /
Détermination du cisaillement max dans les vis`,
      },
    ]}
    image={{
      src: '~/assets/images/tracteur.png',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Exemple conception<br /><span class="text-2xl">Etude du comportement mécanique d'un engin viticole électrique</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
-->
  <!-- Content Widget **************** 

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description :',
        description: `Dimensionner deux pièces (butée et isolement) utilisées dans un système de fixation du rail avec une lame SKL /
Réduire la masse des pièces (gain matière et respect des règles métiers en plasturgie) sans dépasser la limite critique des contraintes mécaniques
`,
      },
      {
        title: 'Résultats :',
        description: `Calcul non linéaire (aide à la modélisation des zones fonctionnelles) /
Optimisation topologique (gain matière 20%) /
Modélisation CAO des formes proposées /
Calcul non linéaire (validation des formes proposées) /
Impression 3D prototypes

`,
      },
    ]}
    image={{
      src: '~/assets/images/rail.png',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Domaine ferroviaire<br /><span class="text-2xl">Optimisation d’un système de fixation de rail </span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
-->
  <!-- Content Widget **************** 

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description :',
        description: `Modéliser la cuve (capitalisation connaissance) / Simuler la tenue mécanique d’un moule d’une double cuve à béton (3m50 de largeur, 5m40 de longueur et 2m75 de haut)
`,
      },
      {
        title: 'Résultats :',
        description: `Simulation statique non linéaire /
        Validation du comportement (déformée maximale) /
Détermination des zones à risque /
Identification de la meilleure configuration (4 ou 5 renforts) /
Livraison des plans de fabrication
`,
      },
    ]}
    image={{
      src: '~/assets/images/beton.png',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Domaine BTP <br /><span class="text-2xl">Modélisation / simulation d'une cuve à béton</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
-->
  
  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Contactez nous"
    subtitle="Vous avez des questions ? N'hésitez pas à nous contacter"
    callToAction={{
      text: 'Formulaire',
      href: 'https://docs.google.com/forms/d/e/1FAIpQLSeMa6s3siWycdZ1jJkDTKTnlVYzqsMcDOKUXNrXZ90r6dRpTQ/formResponse',
    }}
    items={[
      {
        title: 'Email',
        description: 'ngardan[AT]xilab[DOT]tech',
        icon: 'tabler:mail',
      },
      {
        title: 'Téléphone',
        description: '06 73 28 43 14',
        icon: 'tabler:headset',
      },
      {
        title: 'Nous suivre',
        description: '<a href="https://www.linkedin.com/in/nicolas-gardan-19ba526/"> Cliquez ici </a>',
        icon: 'tabler:brand-linkedin',
      },
    ]}
  />


</Layout>
